body{
    margin: 2rem;
}

#options {
    position: fixed;
    right: 20px;
    top: 10px;
}
#add{
    color: #3273dc;
    cursor: pointer;
}

.dropdown-menu{
    width: 18rem;
}

.label {
    font-size: 14px;
}

.title{
    margin-top: 1rem;
}

.routine p {
    margin-right: 5px;
}
 .routine {
        margin-bottom: 0.5rem;
        min-width: 520px;
 }

 .dropdown-item{
    padding: .25rem 1rem;
 } 

 .input {
     font-size: .9rem;
 }



  .delete{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10, 10, 10, 0.2);
    border: none;
    border-radius: 50%;
    cursor: pointer;
     display: inline-block; 
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1.3rem;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    outline: none;
    position: relative; 
    vertical-align: top;
    width: 30px;

 } 



.edit {
    display: inline-block;
    font-size: 20px;
    padding: 0px 10px;

}

.edit i {
  background-color: rgba(10, 10, 10, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit i:hover{
    background-color: rgba(10, 10, 10, 0.3);
}


@media screen and (max-width: 600px) {
    .routine p {
        font-size: 12px;
    }

}

@media screen and (max-width: 450px) {
    .routine p {
        font-size: 10px;
    }

    .routines{
        padding: 0.2rem;
    }

    body{
        margin: 1rem;
    }

    .card h1 {
        margin-bottom: 0.5rem;
    }

    .card{
        max-width: 98%;
    }

    .column {
        padding: 0.75rem 0 0.75rem 0;
    }

}

@media screen and (max-width: 370px) {
    .routine p {
        font-size: 9px;
    }

    .dropdown-menu{
        width: 16rem;
    }
    .label:not(:last-child){
            margin-bottom: 0em;
    } 
}